body {
  font-family: sans-serif;
}

header {
  margin-top: 10px;
}

header .bgcon {
  background-color: #f0efee;
}

.bgcon {
  background-color: red;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 5px;
}

.nav .ul_1 li {
  display: inline-block;
  font-size: 22px;
  margin-top: 15px;
  padding-right: 30px;
}

.nav .ul_1 li:hover {
  color: gray;
  cursor: pointer;
}

.nav .ul_2 li {
  display: inline-block;
  padding-right: 30px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.nav .ul_2 li:hover {
  color: gray;
  cursor: pointer;
  font-weight: 300;
}

.nav .ul_3 li {
  display: inline-block;
  font-size: 22px;
  padding-left: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

.nav .ul_3 .login {
  text-align: center;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav .ul_3 .login:hover {
  color: white;
  background-color: #b3872a;
}

.nav .ul_3 .shop {
  padding-right: 28px;
}

.nav .ul_3 .shop:hover {
  color: gray;
  cursor: pointer;
}

.phonenav {
  display: none;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
  .phonenav {
    display: block;
  }
  .phonenav ul li {
    display: inline-block;
    margin: 5 30px;
  }
  .bars {
    margin-right: 50px;
    font-size: 23px;
    margin-top: 20px;
  }
  .logo {
    margin-right: 50px;
  }
  .shop {
    font-size: 23px;
  }
  .shop:hover {
    color: gray;
    cursor: pointer;
  }
}

#section1 {
  margin-top: 62px;
}

#section1 .container {
  width: 100%;
}

#section1 .container .myrow {
  background-image: url(./img/imgs1/photo_2021-02-05_18-12-48.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

#section1 .container img {
  width: 100%;
}

#section1 .container .text {
  text-align: end;
  margin-top: 200px;
  margin-left: 100px;
  padding-right: 10px;
}

#section1 .container .text h2 {
  font-size: 42px;
}

#section1 .container .text p {
  font-size: 32px;
  color: gray;
  font-weight: 100;
}

#section1 .container .text button {
  color: gold;
  font-size: 22px;
  border: none;
  background-color: transparent;
  padding: 3px 5px;
  border-radius: 5px;
  -webkit-transition: .5;
  transition: .5;
}

#section1 .container .text button:hover {
  background-color: #946d3a;
  color: white;
  -webkit-transition-duration: .5;
          transition-duration: .5;
}

#section_2 .container .row .acc {
  background-image: url(./img/imgs1/duante-pendant-768x768.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 450px;
  padding: 20px;
}

#section_2 .container .row .acc h4 {
  color: goldenrod;
}

#section_2 .container .row .acc h2 {
  font-size: 38px;
}

#section_2 .container .row .acc p {
  color: gray;
}

#section_2 .container .row .acc button {
  border: 3px solid black;
  padding: 10px 15px;
  background-color: transparent;
}

#section_2 .container .row .acc button:hover {
  background-color: goldenrod;
  border: gold;
  color: white;
}

#section_2 .container .row .fre {
  background-image: url(./img/imgs1/afteroom-coat-hanger2-450x450.jpg);
}

#section_2 .container .row .huge {
  padding: 20px;
  background-color: #d0dde2;
  background-image: none;
  margin: 5px 0;
  height: 400px;
  text-align: center;
}

#section_2 .container .row .huge h4 {
  margin-top: 50px;
}

#section_2 .container .row .cl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section_2 .container .row .cl img {
  width: 308px;
  padding: 5px;
}

#section_2 .container .row .cl img .mr {
  margin-right: 50px;
}

@media (max-width: 992px) {
  #section_2 h4 {
    margin-top: 0px;
  }
  #section_2 .cl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#section_3 .container .row {
  background-color: #EDEAD3;
  padding: 20px;
}

#section_3 .container .row .spaces {
  margin: 30px auto;
}

#section_3 .container .row .spaces h4 {
  color: goldenrod;
}

#section_3 .container .row .box {
  margin-top: 150px;
  margin-bottom: 70px;
  text-align: center;
}

#section_3 .container .row .box i {
  font-size: 52px;
  margin: 5px;
}

@media (max-width: 992px) {
  #section_3 .spaces {
    width: auto;
    margin: 0;
  }
}

#section_4 .container .row {
  padding: 20px;
}

#section_4 .container .row .featured {
  padding: 50px;
  background-color: #EDEAD3;
  height: 520px;
}

#section_4 .container .row .featured h4 {
  margin-top: 100px;
  color: goldenrod;
}

#section_4 .container .row .featured h2 {
  font-size: 62px;
}

#section_4 .container .row .featured p {
  color: gray;
}

#section_4 .container .row .featured button {
  padding: 15px 20px;
}

#section_4 .container .row .featured button:hover {
  color: white;
  background-color: goldenrod;
  border: 3px solid white;
}

#section_4 .container .row .imgClock {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section_4 .container .row .imgClock img {
  width: 260px;
  padding: 5px;
}

#section_5 .container .row img {
  width: 100%;
}

#section_6 .container .row .chairr {
  padding: 10px;
}

#section_6 .container .row .chairr h3 {
  color: gray;
  font-weight: 400;
}

#section_6 .container .row .chairr p {
  color: gray;
}

footer {
  background-color: #3A3A3A;
  color: white;
  padding: 20px;
  padding-left: 100px;
  font-size: 18px;
}

footer .input-group .in {
  display: inline-block;
}

footer .input-group input {
  background-color: white;
  border: 1px solid white;
}

footer .input-group button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
/*# sourceMappingURL=style.css.map */